title: "EPRN - Dératisation, Désinfection, Désinsectisation en Charente-Maritime"
description: "EPRN : spécialiste de la régulation des nuisibles en Charente-Maritime et Nouvelle-Aquitaine. Dératisation, désinsectisation, désinfection et traitement par tir."
baseurl: "/eprn"
url: "https://thedoublejo.github.io"

# Build settings
markdown: kramdown

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

defaults:
  - scope:
      path: ""
    values:
      layout: "default"
