<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-column footer-column-1">
                <h2>E.P.R.N.</h2>
            </div>
            <div class="footer-column footer-column-2">
                <p>4 Moulin de Barate – 17800 PONS</p>
                <p>Contact : <a href="tel:0606400779">06 06 40 07 79</a></p>
                <p>Email : <a href="mailto:eprn@hotmail.fr">eprn@hotmail.fr</a></p>
            </div>
            <div class="footer-column footer-column-3">
                <h2>Confidentialité</h2>
                <nav class="footer-links">
                    <a href="{{ site.baseurl }}/politique-confidentialite.html">Politique de confidentialité</a>
                    <a href="{{ site.baseurl }}/mentions-legales.html">Mentions légales</a>
                    <a href="{{ site.baseurl }}/qui-sommes-nous.html">Qui sommes nous ?</a>
                </nav>
            </div>
        </div>
    </div>
</footer>