<header class="header">
    <div class="header-container">
        <div class="header-content">
            <div class="logo">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/images/logo.png" alt="ENTREPRISE PONTOISE DE RÉGULATION DES NUISIBLES"
                        class="logo-img">
                </a>
            </div>
            <div class="site-title"><a href="{{ site.baseurl }}/">ENTREPRISE PONTOISE DE RÉGULATION DES NUISIBLES</a>
            </div>
        </div>
        <nav class="navbar">
            <div class="nav-menu">
                <a href="{{ site.baseurl }}/actualites.html" class="nav-link">ACTUALITÉS</a>
                <a href="{{ site.baseurl }}/contact.html" class="nav-link">CONTACTEZ-NOUS</a>
            </div>
        </nav>
    </div>
</header>