<header class="header">
    <div class="header-container">
        <div class="header-content">
            <div class="logo">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/images/logo.png" alt="ENTREPRISE PONTOISE DE RÉGULATION DES NUISIBLES"
                        class="logo-img">
                </a>
            </div>
            <div class="site-title"><a href="{{ site.baseurl }}/">ENTREPRISE PONTOISE DE RÉGULATION DES NUISIBLES</a>
            </div>
        </div>
        <nav class="navbar">
            <div class="nav-menu">
                <a href="{{ site.baseurl }}/traitement-tir.html" class="nav-link nav-link-primary">TRAITEMENT PAR TIR</a>
                <div class="nav-dropdown">
                    <button class="nav-link dropdown-toggle">AUTRES SERVICES <span class="arrow">▾</span></button>
                    <div class="dropdown-content">
                        <a href="{{ site.baseurl }}/desinfection.html">Désinfection</a>
                        <a href="{{ site.baseurl }}/desinsectisation.html">Désinsectisation</a>
                        <a href="{{ site.baseurl }}/deratisation.html">Dératisation</a>
                    </div>
                </div>
                <a href="{{ site.baseurl }}/actualites.html" class="nav-link">ACTUALITÉS</a>
                <a href="{{ site.baseurl }}/contact.html" class="nav-link">CONTACTEZ-NOUS</a>
            </div>
        </nav>
    </div>
</header>